<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="en">
<!--<![endif]-->
<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>hypertEND | Sodium Tracker</title>


<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="/css/socialize-bookmarks.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css?v=2.1.4"> -->
<link href="/css/animate.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen"> -->

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!--[if IE 7]>
  <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->


</head>

<body>

    <header>
        <div class="container">
            <div class="row">
               <div class="col-md-4 col-xs-3"><h1 id="logo"><a href="/" title="hypertEND | Sodium Tracker">hypertEND | Sodium Tracker</a></h1>
               </div>
                <nav class="col-md-8 col-xs-9">
                <ul id="main-nav" class="sf-menu" >
                    <% if current_user %>
                    <li><a href="#">Calorie calculators</a>
                        <ul>
                            <li><a href="#">Daily calories</a></li>
                            <li><a href="#">Calories burned by heart rate</a></li>
                            <li><a href="#">Calories burned by activites</a></li>
                            <li><a href="#">BMI calculator</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pages</a>
                        <ul>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Single post</a></li>
                         </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/logout">Log out</a></li>
                    <% else %>
                    <li><a href="/signup">Sign up</a></li>
                
                    <li><a href="/login">Log in</a></li>
                    <% end %>
                </nav><!-- End Nav -->
            </div>
        </div><!-- End container -->
    </header> <!-- End header -->
        
       <div class="container">
            
            <div class="row">
            
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/food_items/new">
                        <img src="img/icon-3.png" alt="">
                        <h3>Meals</h3>
                        </a>
                    </div><!-- End box-calculator-->
                </div> <!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/food_items/new">
                        <img src="img/icon-4.png" alt="">
                        <h3>Snacks</h3>
                        </a>
                    </div> <!-- End box-calculator -->
                </div><!-- End col-md-3 -->
                
                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/blood_pressures">
                        <img src="img/icon-8.png" alt="">
                        <h3>Blood Pressure</h3>
                        </a>
                    </div><!-- End box-calculator-->
                    </div> <!-- End col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="box_calculator">
                        <a href="/graphs">
                        <img src="img/icon-7.png" alt="">
                        <h3>Data</h3>
                        </a>
                    </div><!-- End box-calculator-->
                    </div> <!-- End col-md-3 -->
                
            </div> <!--End row -->
 
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contacts</h5>
                    <p>
                        Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world. to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
                    </p>
                    <ul>
                        <li><i class="icon-user"></i> Personal trainer Name</li>
                        <li><i class="icon-phone"></i> Telephone: 41.22.319.36.10 </li>
                        <li><i class="icon-envelope"></i> Email: <a href="#">info@planar.com </a></li>
                        <li><i class="icon-skype"></i> Skype name: Planar</li>
                    </ul>
                    <ul class="social-bookmarks clearfix">
                        <li class="linkedin"><a href="#">behance</a></li>
                        <li class="facebook"><a href="#">facebook</a></li>
                        <li class="googleplus"><a href="#">googleplus</a></li>
                        <li class="twitter"><a href="#">twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="add_bottom_15">Suggest this site to a friend</h5>
                    <div id="message-friend"></div>
                    <form method="post" action="assets/send_to_friend.php" id="contactfriend">
                        <div class="form-bg-1"><input type="text" id="name_footer" class="form-control" placeholder="Your name*"></div>
                        <div class="form-bg-2"><input type="text" id="friendname_footer" class="form-control" placeholder="Your friend name*"></div>
                        <div class="form-bg-1"><input type="email" id="friendemail_footer" class="form-control" placeholder="Your friend email*"></div>
                        <div class="form-bg-2"><textarea rows="3" id="message_footer" class="form-control" placeholder="Message*"></textarea></div>
                        <div class="form-bg-1"><input type="text" id="verify_footer" class="form-control" placeholder="Are you human? 3 + 1 ="></div>
                        <input type="submit" id="submit-friend" value="Submit" class=" button_medium add_top_30">
                    </form>
                </div>
            </div>
        </div>
        <div id="copy">© 2017 - All Rights Reserved</div>
        </footer><!-- End footer -->
 
 <div id="toTop">Back to Top</div>  
 

</body>
</html>