<div class="container">
<% if current_user %>
    <h3>Welcome <%= current_user.first_name %> <%= current_user.last_name %>!</h3>
<% end %>
<br>
    
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="box_calculator">
            <a href="/food_items/new">
            <img src="img/icon-3.png" alt="">
            <h3>Meals</h3>
            </a>
        </div><!-- End meals icon-->
    </div> <!-- End col-md-3 -->
    
    <!-- <div class="col-md-3 col-sm-6">
        <div class="box_calculator">
            <a href="/food_items/new">
            <img src="img/icon-4.png" alt="">
            <h3>Snacks</h3>
            </a> -->
        <!-- </div> --> <!-- End box-calculator -->
    <!-- </div> --><!-- End col-md-3 -->
    
    <div class="col-md-4 col-sm-6">
        <div class="box_calculator">
            <a href="/blood_pressures">
            <img src="img/icon-8.png" alt="">
            <h3>Blood Pressure</h3>
            </a>
        </div><!-- End blood pressure icon-->
    </div> <!-- End col-md-3 -->

    <div class="col-md-4 col-sm-6">
        <div class="box_calculator">
            <a href="/graphs">
            <img src="img/icon-7.png" alt="">
            <h3>Data</h3>
            </a>
        </div><!-- End data iconr-->
    </div> <!-- End col-md-3 -->
</div> <!--End row -->
</div>


<div id="toTop">Back to Top</div>  
