<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>hypertEND | Sodium Tracker</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="/css/socialize-bookmarks.css" rel="stylesheet">
<link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css?v=2.1.4">
<link href="/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="js/jquery.1.7.2.min.js"></script>

<!-- Support media queries for IE8 -->
<script src="js/respond.min.js"></script>

<!-- HTML5 and CSS3-in older browsers-->
<script src="js/modernizr.custom.17475.js"></script>

<!--[if IE 7]>
  <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->

</head>

<h1>Login</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    Email:
    <input type="email" name="email">
  </div>

  <div>
    Password:
    <input type="password" name="password">
  </div>

  <input type="submit" value="Log In">
<% end %>

 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Contacts</h5>
                    <p>
                        Our mission is to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world. to bring affordable Technology education to people everywhere, in order to help them achieve their dreams and change the world.
                    </p>
                    <ul>
                        <li><i class="icon-user"></i> Personal trainer Name</li>
                        <li><i class="icon-phone"></i> Telephone: 41.22.319.36.10 </li>
                        <li><i class="icon-envelope"></i> Email: <a href="#">info@planar.com </a></li>
                        <li><i class="icon-skype"></i> Skype name: Planar</li>
                    </ul>
                    <ul class="social-bookmarks clearfix">
                        <li class="linkedin"><a href="#">behance</a></li>
                        <li class="facebook"><a href="#">facebook</a></li>
                        <li class="googleplus"><a href="#">googleplus</a></li>
                        <li class="twitter"><a href="#">twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="add_bottom_15">Suggest this site to a friend</h5>
                    <div id="message-friend"></div>
                    <form method="post" action="assets/send_to_friend.php" id="contactfriend">
                        <div class="form-bg-1"><input type="text" id="name_footer" class="form-control" placeholder="Your name*"></div>
                        <div class="form-bg-2"><input type="text" id="friendname_footer" class="form-control" placeholder="Your friend name*"></div>
                        <div class="form-bg-1"><input type="email" id="friendemail_footer" class="form-control" placeholder="Your friend email*"></div>
                        <div class="form-bg-2"><textarea rows="3" id="message_footer" class="form-control" placeholder="Message*"></textarea></div>
                        <div class="form-bg-1"><input type="text" id="verify_footer" class="form-control" placeholder="Are you human? 3 + 1 ="></div>
                        <input type="submit" id="submit-friend" value="Submit" class=" button_medium add_top_30">
                    </form>
                </div>
            </div>
        </div>
        <div id="copy">© 2017 - All Rights Reserved</div>
        </footer><!-- End footer -->
