<div class="container">
 <h3 class="title">Here is your data</h3>
  <div class="col-md-6">
          <h3>Sodium Totals for the Week</h3>
          <p><%= @date_range %></p>
          <br>

          <%= column_chart @user_meals, ytitle: "Sodium", xtitle: "Day of Week" %>

          <br>
  </div>

    <div class="col-md-6">
      <h3 align="center">Sodium Totals per Daily Meal</h3>
          
              <%= pie_chart Meal.where(user_id: current_user.id).group(:name).count %>
        
              <br>
    </div>
      <div class="row">
        <div class="col-md-12">
          <br>
          <br>
          <br>
            <h3>Daily Blood Pressure Readings</h3>

              <%= line_chart @bp_data.map { |hash|
                  {name: hash[:name], data: hash[:data]}
              }, ytitle: "mmHg", xtitle: "Day of Week" %> 
        </div>             
      </div>
</div>
