<h1>New Food Item</h1>
<%= form_tag "/", method: :post do %>
  <div>
    Food Item: <input type="text" name="description">
  </div>
  <div>
    Sodium (mg): <input type="text" name="sodium">
  </div>
  <div>
    Calories: <input type="text" name="calories">
  </div>
  <div>
    Cholesterol (mg): <input type="text" name="cholesterol">
  </div>
  <div>
    Protein (g): <input type="text" name="protein">
  </div>
  <div>
    Potassium (mg): <input type="text" name="potassium">
  </div>
  <div>
    Sugars (g): <input type="text" name="sugars">
  </div>
  <div>
    Notes: <textarea name="notes" cols="30" rows="10"></textarea>
  </div>
  <div>
    Meal:
    <% current_user.meals.each do |meal| %>
      <input type="radio" name="meal_id" value="<%= meal.id %>"> <%= meal.name %>
    <% end %>
  </div>
  <input type="submit" value="Add Food Item">
<% end %>
<a href="/">Back to all food items</a>