<div class="container">

  <h3 class="title">New Food Item</h3>
  <div class="col-md-6">
    <%= form_tag "/food_items", method: :post do %>
      <div class="form-bg-1">
        Select your meal:<br>
        <input type="radio" name="meal_name" value="Breakfast"> Breakfast
        <input type="radio" name="meal_name" value="Lunch"> Lunch
        <input type="radio" name="meal_name" value="Dinner"> Dinner
        <input type="radio" name="meal_name" value="Snack"> Snack
      </div>
        <div class="form-bg-2">
          Food Item: <input type="text" class="form-control" name="description" placeholder="What did you eat?">
        </div>
          <div class="form-bg-1">
            Sodium (mg): <input type="number" class="form-control" name="sodium">
          </div>
            <div class="form-bg-2">
              Calories: <input type="number" class="form-control" name="calories">
            </div>
              <div class="form-bg-1">
                Cholesterol (mg): <input type="number" class="form-control" name="cholesterol">
              </div>
                <div class="form-bg-2">
                  Protein (g): <input type="number" class="form-control" name="protein">
                </div>
                  <div class="form-bg-1">
                    Potassium (mg): <input type="number" class="form-control" name="potassium">
                  </div>
                    <div class="form-bg-2">
                      Sugar (g): <input type="number" class="form-control" name="sugar">
                    </div>
                      <div class="form-bg-1">
                        Notes: <textarea name="notes" cols="30" rows="10" class="form-control" placeholder="Enter any notes here."></textarea>
                      </div>
                        <br>
                          <button id="selectBtn" class="button_medium add_top_30" input type="submit">Add Food Item</button>
    <% end %>
                        <br>
                        <h4><a href="/food_items">Back to all food items</a></h4>
  </div>

    <div class="col-md-5">
      <div class="result">
            <h2>Amount of Sodium consumed today:</h2>
            <div id="adv_calculator_value">0</div>
        </div>   
    </div>
      <div class="row add_top_15">
      </div>
</div>
