/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 
 */

label {
  margin-left: 5px;
    margin-right: 10px;
}

.inline-block {
  display: inline-block !important;
}

.food-item {
  width: 23%;
  border: thin solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 8px;
  max-height: 400px;
  background-color: ghostwhite;
}

.food-item h5 {
  color: #515151;
}

.blood-pressure {
  width: 23%;
  border: thin solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 8px;
  max-height: 400px;
  background-color: ghostwhite;
}

.blood-pressure h4 {
  color: #515151;
}

.meal {
  width: 31%;
  border: thin solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 8px 8px;
  max-height: 400px; 
  background-color: ghostwhite; 
}

.meal h5 {
  color: #515151;
}

.graph-row {
  margin-bottom: 55px;
}

.h5-white {
  color: #fff;
}

.sodium-total-graph {
  background: white;
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 20px;
  min-height: 408px;
  width: 47%;
  margin-right: 3%;
}

.sodium-percent-graph {
  background: white;
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 47%;
  margin-left: 3%;
}

.blood-pressure-readings {
  background: white;
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 97%;
  margin: auto;
  display: block;
}




